<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="INFO">

	<!-- <configuration monitorInterval="30"> -->
	<!-- Esta linea indica que se refresque este fichero cada 30 segundos -->

	<!-- Esto es útil si se quiere cambiar la configuración de este en -->
	<!-- tiempo de ejecución sin tener que reiniciar la aplicación -->


	<!-- Un logger 'A' es padre de otro 'B', si 'A' está -->
	<!-- en una de las categorias superiores a 'B'. -->

	<!-- Ejemplo: -->

	<!-- logger.Root -->
	<!-- logger.categoria1.A -->
	<!-- logger.categoria1.cat2.B -->

	<!-- Root es padre 'A' y 'B' -->
	<!-- 'A' es padre de 'B' -->

	<!-- Los loggers por defecto envian los mensajes al padre, lo -->
	<!-- que puede hacer que se dupliquen mensajes si se indican -->
	<!-- más salidas a parte de la que hay por defecto -->

	<!-- Root es padre de todos los logger -->
	<!-- Para evitar enviar los mensajes a los padres se usa la -->
	<!-- propiedad additivity="false" que tienen los logger -->



	<!-- ================ -->
	<!-- Posibles salidas -->
	<!-- ================ -->

	<Appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<Console name="My_Logger" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{HH:mm:ss.SSS} %logger{36} -----> %-5level  - %msg%n" />
		</Console>


		<File name="LogFichero" fileName="log/logFile.log">

			<PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n" />
		</File>

	</Appenders>



	<!-- ==================== -->
	<!-- Loggers configurados -->
	<!-- ==================== -->

	<Loggers>

		<!-- - - - - - - - - - - -->
		<!-- Logger de hibernate -->
		<!-- - - - - - - - - - - -->

		<logger name="org.hibernate" level="info" additivity="false">
			<AppenderRef ref="Console" />
		</logger>

		<!-- - - - - - - - - - -->
		<!-- Logger para debug -->
		<!-- - - - - - - - - - -->
		<logger name="MyLogger" level="debug" additivity="false">
			<AppenderRef ref="My_Logger" />
		</logger>

		<!-- - - - - - - - - - -->
		<!-- Logger por defecto -->
		<!-- - - - - - - - - - -->

		<Root level="warn">
			<!-- Salidas -->
			<AppenderRef ref="Console" />
		</Root>

	</Loggers>

</Configuration>